<suite name="Suite">

    <test name="Setup - Config and Browser">
        <classes>
            <class name="com.baseClass.baseClass" />
        </classes>
    </test>


    <test name="Functionality Test Cases">
        <classes>
            <class name="com.baseClass.performFunctionalities" />
            <methods>
            <exclude name = "configReader"/>
            <exclude name = "intBrowser"/>
            <exclude name = "invokeUrl"/>
            </methods>
        </classes>
    </test>

</suite>
